.Results-searched-word {
  font-size: 25px;
  color: #2c394b;
}

.Results-phonetics {
  font-size: 20px;
  color: #2c394b;
  opacity: 0.5;
  padding-bottom: 20px;
}

.Results-category {
  color: #ff4c29;
}

.Results-example {
  font-style: italic;
  opacity: 0.8;
}
