.Results-searched-word {
  font-size: 25px;
  color: #2c394b;
  padding-top: 15px;
}

.Results section {
  border-style: none;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  border-radius: 5px;
  background-color: #fff;
  width: 450px;
  margin: 0 auto;
}
